* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.options-container {
  height: 4rem;
  width: 4rem;
  background-color: #d1d8e0;
  position: absolute;
  top: 1rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
